.btns {
    font-size: 14px !important;
    font-family: inherit;
    color: white;
}

.taille {
    width: 15%;
}

.imgs {
    height: 40px !important;
    width: 40px !important;
}

.amount {
    text-align: right !important;
    width: 100%;
}

.amounts {
    text-align: center !important;
    width: 100%;
}