<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_product" | translate }}</h2>
          </div>
          <div class="body">
            <form [formGroup]="orderForm">

              <div class="row">
                <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline" class="example-full-width mb-3">
                    <mat-label>{{"app.customer" | translate }}</mat-label>
                    <mat-select formControlName="customer_id" required
                      (openedChange)="onOpenChange(multiUserSearch)">
                      <input #multiUserSearch matInput class="colors"
                      style=" border: 1px solid #028b5b;"
                        placeholder="search customer"
                        (input)="onInputChange($event)"
                        formControlName="filter_value" />
                      <mat-option [value]="user.id" *ngFor="let user of filterCustomers">
                        {{ user.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline" class="example-full-width mb-3">
                    <mat-label>{{"app.date" | translate }}</mat-label>
                    <input matInput [matDatepicker]="rpicker" formControlName="delivery_date">
                    <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row action-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 action-buttons">
                  <button [class.auth-spinner]="loading"
                    [disabled]="!orderForm.valid || loading"
                    class="btn-action btn-save" (click)="editCallOrder()"
                    mat-raised-button color="primary">
                    <i class="material-icons">check_circle</i>
                    {{ "app.save" | translate }}
                  </button>
                  <button mat-raised-button class="btn-action btn-add-customer"
                    (click)="editCall()">
                    <i class="material-icons">person_add</i>
                    {{"app.add_customer" | translate}}
                  </button>
                  <button type="button" mat-raised-button class="btn-action btn-cancel"
                    (click)="cancel()">
                    <i class="material-icons">close</i>
                    {{ "app.cancel" | translate }}
                  </button>

                  <span class="selection-counter" *ngIf="SelectProducts.length > 0">
                    <i class="material-icons">shopping_cart</i>
                    {{ SelectProducts.length }} {{ "app.select" | translate }}
                  </span>
                </div>
              </div>

              <div class="row" *ngIf="!product">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="search-wrap">
                    <i class="material-icons">search</i>
                    <input type="text" class="search-input"
                      placeholder="{{ 'app.search_product' | translate }}"
                      [(ngModel)]="searchProduct"
                      [ngModelOptions]="{standalone: true}"
                      (input)="filterProductsByName()">
                    <i class="material-icons clear-icon" *ngIf="searchProduct"
                      (click)="clearProductSearch()">close</i>
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="product" class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>

                <p class="no-results" *ngIf="!product && filteredProducts.length === 0">
                  {{ "app.no_product_found" | translate }}
                </p>

                <div class="product-grid" *ngIf="!product">
                  <div class="product-card"
                    *ngFor="let item of filteredProducts"
                    [class.is-selected]="SelectProducts.indexOf(item.id) !== -1"
                    [class.is-out]="item.stock_quantity === 0">

                    <div class="product-image-wrap">
                      <img class="product-image" [src]="image+item.image" [alt]="item.name" loading="lazy">

                      <span class="stock-chip stock-out" *ngIf="item.stock_quantity === 0">
                        {{"app.stock_indisponible" | translate }}
                      </span>
                      <span class="stock-chip stock-low"
                        *ngIf="item.stock_quantity > 0 && item.alert_quantity >= item.stock_quantity">
                        {{"app.stock" | translate }} : {{item.stock_quantity}}
                      </span>
                      <span class="stock-chip stock-ok"
                        *ngIf="item.stock_quantity > 0 && item.alert_quantity < item.stock_quantity">
                        {{"app.stock" | translate }} : {{item.stock_quantity}}
                      </span>

                      <div class="selected-overlay" *ngIf="SelectProducts.indexOf(item.id) !== -1">
                        <i class="material-icons">check_circle</i>
                      </div>
                    </div>

                    <div class="product-body">
                      <h4 class="product-name" [title]="item.name">{{item.name}}</h4>
                      <p class="product-price">{{item.price}} <span>FCFA</span></p>
                      <p class="product-desc">{{ item.description | slice : 0 : 80 }}…</p>

                      <button mat-raised-button class="btn-select"
                        (click)="addRoom(item.id)"
                        *ngIf="SelectProducts.indexOf(item.id) === -1"
                        [disabled]="item.stock_quantity === 0">
                        {{"app.select" | translate }}
                      </button>
                      <button mat-raised-button class="btn-unselect"
                        (click)="removeRoom(item.id)"
                        *ngIf="SelectProducts.indexOf(item.id) != -1">
                        <i class="material-icons">close</i>
                        {{"app.un_select" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
