<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.more_informations" | translate }}
        </div>
      </div>
    </div>
    <button mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="card test">
    <mat-tab-group>
      <mat-tab>
        <div class="col-lg-12 col-md-12 col-sm-12 mag2">
          <div class="project_widget mag2">
            <div class="body">
              <div class="row">
                <div class="col-md-6 col-6">
                  <strong class="text-muted">
                    {{"app.customer" | translate }}
                  </strong>
                  <br/>
                  <p *ngIf=" bookings.user != null">
                    {{ bookings.user.name }}
                  </p>
                </div>
                <div class="col-md-2 col-6 b-r">
                  <strong class="text-muted">
                    {{"app.start_date" | translate }}
                  </strong>
                  <br />
                  <p >
                    {{ bookings.start_date }}
                  </p>
                </div>
                <div class="col-md-2 col-6 b-r">
                  <strong class="text-muted">
                    {{"app.end_date" | translate }}
                  </strong>
                  <br />
                  <p >
                    {{ bookings.end_date }}
                  </p>
                </div>
                <div class="col-md-2 col-6 b-r" style=" text-align: right;">
                  <strong class="text-muted ">
                    {{"app.status" | translate }}
                  </strong>
                  <br/>
                  <p class="amounts" *ngIf="bookings.status==='confirmed'">
                    <span class="badge badge-solid-green amounts">
                      {{'app.confirmed' | translate}}
                    </span>
                  </p>
                  <p class="amounts" *ngIf="bookings.status==='checked_in'">
                    <span class="badge badge-solid-blue amounts">
                      {{'app.checked_in' | translate}}
                    </span>
                  </p>
                  <p class="amounts" *ngIf="bookings.status==='checked_out'">
                    <span class="badge badge-solid-blue amounts">
                      {{'app.checked_out' | translate}}
                    </span>
                  </p>
                  <p class="amounts" *ngIf="bookings.status==='cancelled'">
                    <span class="badge badge-solid-red amounts">
                      {{'app.cancelled' | translate}}
                    </span>
                  </p>
                  <p class="amounts" *ngIf="bookings.status==='pending'">
                    <span class="badge badge-solid-blue amounts">
                      {{'app.pending' | translate}}
                    </span>
                  </p>
                </div>
              </div>
              <div class="row"> 
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                  <table class="class7 bord">
                    <thead>
                      <tr style="background-color:#028b5b; ; color: white">
                        <th style="width: 10%; text-align: right;"
                          class="rig"> N°
                        </th>
                        <th style="width: 40%;" class="lef" >
                          {{"app.room" | translate }} 
                        </th> 
                        <th style="width: 20%;text-align: center;"   >
                          {{"app.overnight_stay" | translate }} 
                        </th>  
                        <th style="width: 30%; text-align: right;"
                          class="rig">
                          {{"app.price" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody
                      *ngFor="let item of bookings.booking_rooms; let  index = index">
                      <tr style="background-color:white;">
                        <td align="right" class="text rig">
                          {{ index+1 }} 
                        </td>
                        <td align="left" class="text lef">
                          {{ item.name }}
                        </td> 
                        <td align="center" class="text ">
                          {{ bookings.duration/1440   | number}} 
                        </td>
                        <td align="right" class="text  rig">
                          {{ item.price  | number}} 
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="class1 tile" *ngIf="bookings.reduction_amount != null">
                    <div class="class80 ">
                      <span>
                        {{"app.reduction_amount_per_overnight_stay" | translate }} :
                      </span>
                    </div>
                    <div class="class20">
                      {{ bookings.reduction_amount | number }} Fcfa
                    </div>
                  </div>
                  <div class="class1 tile">
                    <div class="class80 ">
                      <span>
                        {{"app.amount" | translate }} :
                      </span>
                    </div>
                    <div class="class20">
                      {{ bookings.price | number }} Fcfa
                    </div>
                  </div>
                  <div class="class1 tile">
                    <div class="class80 ">
                      <span>
                        {{"app.amount_paid" | translate }} :
                      </span>
                    </div>
                    <div class="class20">
                      {{ bookings.amount_paid | number }} Fcfa
                    </div>
                  </div>
                  <div class="class1 tile">
                    <div class="class80 ">
                      <span>
                        {{"app.rest" | translate }} :
                      </span>
                    </div>
                    <div class="class20">
                      {{ bookings.price - bookings.amount_paid | number }} Fcfa
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="!payment"> 
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" > 
                    <button mat-raised-button color="primarys" 
                      [disabled]="loading" [class.auth-spinner]="loading"
                      class="btn-space primarys"
                      *ngIf="bookings.payment_status != 'completed' && !bookings.is_free" 
                      style="background-color: #028b5b; color: white;"
                      (click)="getCashin(true)">
                      {{"app.cash_in" | translate}} 
                    </button>
                    <button mat-raised-button color="primarys" 
                      class="btn-space primarys"
                      [disabled]="loading" [class.auth-spinner]="loading"
                      *ngIf="bookings.status==='pending'"
                      style="background-color: #0a8ee6; color: white;"
                      (click)="bookingsActions('confirmed')">
                      {{"app.confirmed"| translate}} 
                    </button>
                    <button mat-raised-button color="primarys" 
                      class="btn-space primarys"
                      [disabled]="loading" [class.auth-spinner]="loading"
                      *ngIf="bookings.status==='confirmed' || bookings.status==='pending'"
                      style="background-color: #0a8ee6; color: white;"
                      (click)="bookingsActions('checked_in')">
                      {{"app.checked_in" | translate}} 
                    </button>
                    <button mat-raised-button color="primarys" 
                      class="btn-space primarys"
                      [disabled]="loading" [class.auth-spinner]="loading"
                      *ngIf="bookings.status==='checked_in'"
                      style="background-color: #0a8ee6; color: white;"
                      (click)="bookingsActions('checked_out')">
                      {{"app.checked_out" | translate}} 
                    </button> 
                    <button  type="button" (click)="bookingsActions('cancelled')" 
                      *ngIf=" bookings.status==='pending'"
                      [disabled]="loading" [class.auth-spinner]="loading"
                      mat-raised-button color="warn">
                        {{"app.canceled_booking" | translate }}
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mag2" *ngIf="payment">
          <div class="project_widget mag2">
              <div class="header">
                    <h2>{{"app.add_cash_ins" | translate }} </h2>
                </div>
                <form class="register-form m-4" [formGroup]="orderForm">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field appearance="outline"
                        class="example-full-width mb-3">
                        <mat-label>{{"app.payment_mode" | translate }}</mat-label>
                        <mat-select formControlName="payment_mode">
                          <mat-option [value]="'Cash'">
                            {{"app.cash" | translate }}
                          </mat-option>
                          <mat-option [value]="'Orange Money'">
                            Orange Money
                          </mat-option>
                          <mat-option [value]="'Mobile Money'">
                            Mobile Money
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <mat-form-field appearance="outline"
                        class="example-full-width mb-3">
                        <mat-label> {{"app.amount" | translate }}</mat-label>
                        <input matInput formControlName="amount" type="number" min="1"> 
                      </mat-form-field>
                    </div> 
                    <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                      <mat-form-field appearance="outline"
                        class="example-full-width mb-3">
                        <mat-label> {{"app.date" | translate }}</mat-label>
                        <input matInput [matDatepicker]="rpicker1"
                          formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="rpicker1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #rpicker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row"
                    *ngIf="payment_modes.indexOf(orderForm.controls['payment_mode'].value) != -1">
                      <div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <mat-form-field appearance="outline"
                          class="example-full-width mb-3">
                          <mat-label>{{"app.phone" | translate }}</mat-label>
                          <input matInput formControlName="phone"
                            placeholder="EX: 690 340 540"
                            mask="000 000 000" />
                          <span matSuffix>
                            <mat-icon class="msr-2">phone</mat-icon>
                          </span>
                        </mat-form-field>
                      </div>
                    </div> 
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <div class="example-button-row">
                        <button class="btn-space"
                          [disabled]="!orderForm.valid || loading"
                          [class.auth-spinner]="loading"
                          [disabled]="loading" color="primary"
                          (click)="addTransactionsOption()"
                          mat-raised-button>
                          {{"app.save" | translate }}
                        </button> 
                        <button  type="button" (click)="getCashin(false)"
                          mat-raised-button color="warn">
                            {{"app.cancel" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div> 
        <div align="center" *ngIf="payments">
            <mat-spinner
              [value]="10000" color="#0a92d6">
            </mat-spinner>
            <h1>{{this.valider | translate}}</h1><br>
            <h1>{{"app.customer" | translate}}</h1>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
