<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.modi" | translate}}
        </div>
      </div>
    </div>
    <button mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="staffForm"> 
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.firstname" | translate }}</mat-label>
            <mat-icon matSuffix>face</mat-icon>
            <input matInput formControlName="firstname" required>
            <mat-error
              *ngIf="staffForm.get('firstname')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.lastname" | translate }}</mat-label>
            <mat-icon matSuffix>face</mat-icon>
            <input matInput formControlName="lastname" required>
            <mat-error
              *ngIf="staffForm.get('lastname')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-5">
          <app-file-upload formControlName="photo">
          </app-file-upload>
        </div>
        <div *ngIf="staffs.photo != '' && staffs.photo != null"
          class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-5">
          <img [src]="image+staffs.photo" class="user-img margi" alt>
        </div>
        <div *ngIf="staffs.photo === '' || staffs.photo === null"
          class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-5">
          <img src="../assets/images/user/admin.jpg" class="user-img margi" alt>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.service" | translate }} </mat-label>
            <mat-select formControlName="service_id">
              <mat-option [value]="service.id"
                *ngFor="let service of services">
                {{ service.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div *ngIf="role" class="tbl-spinner">
            <mat-progress-spinner style="color: #028b5b;"
              [diameter]="20"
              mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <mat-form-field appearance="outline" *ngIf="!role"
            class="example-full-width mb-3">
            <mat-label> {{"app.job" | translate }}</mat-label>
            <mat-select formControlName="role_id" required>
              <mat-option [value]="role.id"
                *ngFor="let role of roles">
                {{ role.description }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="staffForm.get('role_id')?.hasError('required')">
              role is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div *ngIf="user" class="tbl-spinner">
            <mat-progress-spinner style="color: #028b5b;"
              [diameter]="20"
              mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <mat-form-field appearance="outline" *ngIf="!user"
            class="example-full-width mb-3">
            <mat-label> {{"app.responsable" | translate }}</mat-label>
            <mat-select formControlName="responsable">
              <mat-option [value]="user.id"
                *ngFor="let user of users">
                {{ user.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="staffForm.get('responsable')?.hasError('required')">
              role is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.gender" | translate }}</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="'male'">
                {{"app.male" | translate }}
              </mat-option>
              <mat-option [value]="'female'">
                {{"app.female" | translate }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="staffForm.get('gender')?.hasError('required')">
              gender is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>{{"app.phone" | translate }}</mat-label>
            <input matInput formControlName="phone" required
              placeholder="EX: (237) 690 340 540" />
            <span matSuffix>
              <mat-icon class="msr-2">phone</mat-icon>
            </span>
            <mat-error
              *ngIf="staffForm.get('phone')?.hasError('required')">
              phone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>{{"app.phone" | translate }} 2 </mat-label>
            <input matInput formControlName="phone2" 
              placeholder="EX: (237) 690 340 540" />
            <span matSuffix>
              <mat-icon class="msr-2">phone</mat-icon>
            </span>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.email" | translate }}</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input matInput formControlName="email"
              placeholder="exemple@gmail.com">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.address" | translate }}</mat-label>
            <input matInput formControlName="address" >
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.nationality" | translate }}</mat-label>
            <input matInput formControlName="nationality">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.birthday" | translate }}</mat-label>
            <input matInput [matDatepicker]="rpicker"
              formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="rpicker">
            </mat-datepicker-toggle>
            <mat-datepicker #rpicker></mat-datepicker>
          </mat-form-field>
        </div> 
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.birth_place" | translate }}</mat-label>
            <input matInput formControlName="birth_place">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.cnps" | translate }}</mat-label>
            <input matInput formControlName="cnps">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.cni" | translate }}</mat-label>
            <input matInput formControlName="cni">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.passport_issue_date" | translate }}</mat-label>
            <input matInput [matDatepicker]="rpicker1"
              formControlName="passport_issue_date">
            <mat-datepicker-toggle matSuffix [for]="rpicker1">
            </mat-datepicker-toggle>
            <mat-datepicker #rpicker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.nui" | translate }}</mat-label>
            <input matInput formControlName="nui">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space"
              [disabled]="!staffForm.valid || loading"
              [class.auth-spinner]="loading"
              [disabled]="loading" color="primary"
              (click)="staffsActions()"
              mat-raised-button>
              {{"app.save" | translate }}
            </button>
            <button mat-raised-button
              color="warn" tabindex="-1"
              (click)="onNoClick()">
              {{"app.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
