<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.modi" | translate}}
        </div>
      </div>
    </div>
    <button mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4"
      [formGroup]="permissionForm">
      <div class="row">
        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.name" | translate }} </mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="permissionForm.get('name')?.hasError('required')">
              name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.for" | translate }} </mat-label>
            <mat-select formControlName="user" required>
              <mat-option [value]="user.id"
                *ngFor="let user of users">
                {{ user.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.time_limit" | translate }} </mat-label>
            <input matInput [matDatepicker]="rpicker"
              formControlName="due_date" required>
            <mat-datepicker-toggle matSuffix [for]="rpicker">
            </mat-datepicker-toggle>
            <mat-datepicker #rpicker>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3"
            appearance="outline">
            <mat-label>{{"app.priority" | translate }}</mat-label>
            <mat-select formControlName="priority" required>
              <mat-option [value]="'Small'">
                {{"app.small" | translate }}
              </mat-option>
              <mat-option [value]="'Medium'">
                {{"app.medium" | translate }}
              </mat-option>
              <mat-option [value]="'High'">
                {{"app.high" | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>
              {{"app.status" | translate }}
            </mat-label>
            <mat-select formControlName="status" required>
              <mat-option [value]="'Create'">
                {{"app.no_start" | translate }}
              </mat-option>
              <mat-option [value]="'In progress'">
                {{"app.in_progress" | translate }}
              </mat-option>
              <mat-option [value]="'Finish'">
                {{"app.finish" | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- </div>
      <div class="row"> -->
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.duration" | translate }} </mat-label>
            <input matInput formControlName="duree_mise" type="number">
          </mat-form-field>
        </div>
        <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3"
            appearance="outline">
            <mat-label>{{"app.estimation" | translate }} </mat-label>
            <input matInput formControlName="estimation" type="number">
          </mat-form-field>
        </div> -->
        <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3"
            appearance="outline">
            <mat-label>{{"app.estimation" | translate }} </mat-label>
            <input matInput formControlName="estimation" type="number">
          </mat-form-field>
        </div> -->
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.description" | translate }} </mat-label>
            <textarea matInput
              formControlName="description" [rows]="4">
            </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space" color="primary"
              [disabled]="!permissionForm.valid || loading"
              [class.auth-spinner]="loading" [disabled]="loading"
              (click)="updatePermissions()" mat-raised-button>
              {{"app.save" | translate }}
            </button>
            <button mat-raised-button color="warn"
              (click)="onNoClick()" tabindex="-1">
              {{"app.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
