<section class="content">
  <div class="content-block">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="entete">
                  <div class="card date date1">
                    <div class="w100">
                      <form [formGroup]="productMovementForm">
                        <div class="row">
                          <div class="col-xl-3">
                            <mat-form-field appearance="outline"
                              style="margin-bottom: -2rem"
                              class="example-full-width">
                              <mat-label>
                                {{"app.start" | translate}}
                              </mat-label>
                              <input matInput [matDatepicker]="rpicker"
                                formControlName="date_start">
                              <mat-datepicker-toggle matSuffix
                                [for]="rpicker"></mat-datepicker-toggle>
                              <mat-datepicker #rpicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-3">
                            <mat-form-field appearance="outline"
                              class="example-full-width"
                              style="margin-bottom: -2.25rem">
                              <mat-label> {{"app.end" | translate}}</mat-label>
                              <input matInput [matDatepicker]="rpickers"
                                formControlName="date_end">
                              <mat-datepicker-toggle matSuffix
                                [for]="rpickers"></mat-datepicker-toggle>
                              <mat-datepicker #rpickers></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 mag">
                            <button class="btn-space"
                              [disabled]="!productMovementForm.valid"
                              mat-raised-button (click)="setDate(true)"
                              [class.auth-spinner]="loading" color="primary">
                              {{"app.save" | translate }}
                            </button>
                            <button class="btn-space butun"
                              mat-raised-button (click)="setDate(false)">
                              {{"app.alls" | translate }}
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card date soms">
                    <div class="w100">
                      <div *ngIf="exampleDatabase?.isTblLoading"
                        class="tbl-spinner">
                        <mat-progress-spinner
                          color="primary" [diameter]="40"
                          mode="indeterminate">
                        </mat-progress-spinner>
                      </div> 
                      <div class="som">
                        <div class="row"
                          *ngIf="!exampleDatabase?.isTblLoading">
                          <table>
                            <thead>
                              <tr>
                                <th class="title"> {{"app.total_price" | translate }} </th>
                                <th class="title"> {{"app.total_manufacturing_cost" | translate }} </th> 
                                <th class="vert title"> {{"app.total_profit" | translate }} </th>
                                <th class="orang title"> {{"app.accounts_receivable" | translate }} </th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- <tr>
                                <td align="center" class="title">
                                  <strong> {{ exampleDatabase?.total_price  | number}}</strong>
                                </td>
                                <td align="center" class="title">
                                  <strong> {{ exampleDatabase?.total_manufacturing_cost | number}}</strong>
                                </td> 
                                <td align="center" class=" vert title">
                                  <strong> {{ exampleDatabase?.total_profit | number}}</strong>
                                </td>
                                <td align="center" class="orang  title">
                                  <strong> {{ exampleDatabase?.bank | number}}</strong>
                                </td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>{{"app.productMovements" | translate }}</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input">
                            <i class="material-icons search-icon">
                              search
                            </i>
                          </label>
                          <input placeholder="Search"
                            type="text" #filter
                            class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="SEARCH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              #filter (click)="filterButton()">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="body">
                            <form [formGroup]="productMovementForm">
                              <div class="row"> 
                                <div
                                  class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <mat-form-field appearance="outline"
                                    style="margin-bottom: -2rem"
                                    class="example-full-width">
                                    <mat-label>
                                      {{"app.type" | translate }}
                                    </mat-label>
                                    <mat-select formControlName="operationType"
                                      (selectionChange)="settypeProductMovement()">
                                      <mat-option [value]="''">
                                        {{"app.all" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'entry'">
                                        {{"app.entry" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'exit'">
                                        {{"app.exit" | translate }}
                                      </mat-option> 
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="ADD">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="addNew()">
                              <mat-icon class="col-white">
                                add
                              </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="REFRESH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="refresh()">
                              <mat-icon class="col-white">
                                refresh
                              </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" [hidden]=!selection.hasValue()
                            matTooltip="DELETE">
                            <button mat-mini-fab color="warn"
                              (click)="removeSelectedRows()">
                              <mat-icon class="col-white">delete
                              </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt
                              (click)="exportExcel()" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table mat-table #table [dataSource]="dataSource" matSort
                        class="mat-cell">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox
                              (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="product">
                          <mat-header-cell *matHeaderCellDef mat-sort-header >
                            {{"app.product" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" 
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.product" | translate }}:
                            </span>
                            <span *ngIf="row.product!=null">
                              {{row.product.name}}
                            </span>
                            <span *ngIf="row.product===null">
                              {{row.product}}
                            </span>
                          </mat-cell>
                        </ng-container> 
                        <ng-container matColumnDef="operationType">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            <span class="amounts">
                              {{"app.type" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            class="taille">
                            <span class="mobile-label">
                              {{"app.type" | translate }}:
                            </span>
                            <span class="amounts" *ngIf="row.operationType==='entry'">
                              <span class="badge badge-solid-green amounts">
                                {{'app.entry' | translate}}</span>
                            </span>
                            <span class="amounts" *ngIf="row.operationType==='exit'">
                              <span class="badge badge-solid-red amounts">
                                {{'app.exit' | translate}}</span>
                            </span> 
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            <span class="amounts">
                              {{"app.created_at" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="taille"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.created_at" | translate }}:
                            </span>
                            <span class="amounts">
                              {{row.created_at | date:'dd/MM/yyyy'}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            <span class="amount">
                              {{"app.quantity" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="taille"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.quantity" | translate }}:
                            </span>
                            <span class="amount">
                              {{row.quantity }}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="stock">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            <span class="amount">
                              {{"app.new_stock" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="taille"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.new_stock" | translate }}:
                            </span>
                            <span class="amount">
                              {{row.stock }}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <!-- actions -->
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row
                          *matRowDef="let row; columns: displayedColumns;"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                      <!-- Loading spinner -->
                      <div *ngIf="exampleDatabase?.isTblLoading"
                        class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40"
                          mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <!-- context menu start -->
                      <div style="visibility: hidden; position: fixed"
                        [style.left]="contextMenuPosition.x"
                        [style.top]="contextMenuPosition.y">
                      </div>
                      <!-- context menu end -->
                      <div *ngIf="!exampleDatabase?.isTblLoading"
                        class="no-results"
                        [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                        No results
                      </div>
                      <mat-paginator #paginator
                        (page)="dataSource.connect(valueFilter)"
                        [length]="dataSource.meta"
                        [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100, 200]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
