.btns {
    font-size: 14px !important;
    font-family: inherit;
    color: white;
}


.taille {
    max-width: 10%;
}


.s-room {
    max-width: 15%;
}

.amount{
    text-align: right !important;
    width: 100%;
    font-weight: bold;
}

.capacity{
    text-align: center !important;
    width: 100%;
    font-weight: bold;
}
.amounts{
    text-align: center !important;
    width: 100%;
}