<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.more_informations" | translate }}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()"
      class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="card">
    <div class="row clearfix mag-5">
      <mat-tab-group>
        <mat-tab>
          <div class="col-lg-12 col-md-12 col-sm-12 mag2">
            <div class="project_widget mag2">
              <div class="body">
                <div class="row">
                  <div class="col-md-5 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.by" | translate }}
                    </strong>
                    <br />
                    <p>{{ warnings.creator.name }}</p>
                  </div>
                  <div class="col-md-5 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.for" | translate }}
                    </strong>
                    <br />
                    <p>{{ warnings.user.name }}</p>
                  </div>
                  <div class="col-md-2 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.date" | translate }}
                    </strong>
                    <br />
                    <p>{{ warnings.date }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.reasons" | translate }}
                    </strong>
                    <br />
                    <p>
                      {{ warnings.reason }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
