<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_product" | translate }}</h2>
          </div>
          <div class="body">
            <form [formGroup]="productForm">
              <div class="row">
                <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.name" | translate }} </mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error
                      *ngIf="productForm.get('name')?.hasError('required')">
                      name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-5">
                  <app-file-upload formControlName="image" >
                    </app-file-upload> 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.alert_quantity" | translate }}</mat-label>
                    <input matInput formControlName="alert_quantity" type="number">
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row"> 
                <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.type" | translate }}</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'consumable'">
                        {{"app.consumable" | translate }}
                      </mat-option>
                      <mat-option [value]="'storable'">
                        {{"app.storable" | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>  -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.manufacturing_cost" | translate }}</mat-label>
                    <input matInput formControlName="manufacturing_cost" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.selling_price" | translate }}</mat-label>
                    <input matInput formControlName="price" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.expiry_date" | translate }}</mat-label>
                    <input matInput [matDatepicker]="rpicker"
                      formControlName="expiry_date">
                    <mat-datepicker-toggle matSuffix [for]="rpicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                  </mat-form-field>
                </div> 
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.number" | translate }}</mat-label>
                    <mat-select formControlName="nbrProduct"
                      required (selectionChange)="getProducts()">
                      <mat-option [value]="nbr"
                        *ngFor="let nbr of numbersProducts">
                        {{ nbr }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.description" | translate }}</mat-label>
                    <textarea matInput formControlName="description" >
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row">
              <p-table [value]="productArrys"
                (onEditInit)="onEditInit($event)"
                (onEditCancel)="onEditCancel($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 100%; font-size: 18px;">
                      {{"app.article" | translate }}
                    </th>
                    <!-- <th style="width: 40%;font-size: 18px;">
                      {{"app.quantity" | translate }}
                    </th> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                  <tr>
                    <td pEditableColumn style="width: 35%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <mat-select [(ngModel)]="book.id">
                              <mat-option [value]="article.id"
                                *ngFor="let article of articles">
                                {{ article.name }} ({{article.container_quantity}} {{article.container_unit}})
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                    <!-- <td pEditableColumn style="width: 15%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <input matInput  
                              [(ngModel)]="book.quantity">
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td> -->
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <form [formGroup]="productForm">
              <br />
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button [class.auth-spinner]="loading"
                    [disabled]="!productForm.valid || loading"
                    class="btn-space" (click)="addProducts()"
                    mat-raised-button color="primary">
                    {{ "app.save" | translate }}
                  </button>
                  <button type="button" color="warn"
                    mat-raised-button (click)="cancel()">
                    {{ "app.cancel" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
