<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle | translate}}
        </div>
      </div>
    </div>
    <button mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="row " *ngIf="!isexpenseType">
      <div class="row dis2"
        style="align-items: center; " align="center">
        <div class="botom" align="center">
          <button (click)="typeClick(type)"
            class="pad btn b-red mar" *ngFor="let type of expenseTypes"
            mat-raised-button>
            {{ type.name }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isexpenseType" class="tbl-spinner">
      <mat-progress-spinner color="primary" [diameter]="40"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <form class="register-form m-4" [formGroup]="expenseTypesForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.name" | translate }}</mat-label>
            <mat-icon matSuffix>face</mat-icon>
            <input matInput formControlName="name" required>
            <mat-error
              *ngIf="expenseTypesForm.get('name')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space" color="primary"
              [disabled]="!expenseTypesForm.valid || loading"
              [class.auth-spinner]="loading"
              [disabled]="loading" mat-raised-button
              (click)="expenseTypesActions()">
              {{"app.save" | translate }}
            </button>
            <button mat-raised-button color="warn"
              (click)="onNoClick()" tabindex="-1">
              {{"app.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
