<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_supplier" | translate}}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.name" | translate }}</mat-label>
                    <mat-icon matSuffix>face</mat-icon>
                    <input matInput formControlName="firstname" required>
                    <mat-error
                      *ngIf="supplierForm.get('firstname')?.hasError('required')">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div> 
                
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.type" | translate }}</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'person'">
                        {{"app.person" | translate }}
                      </mat-option>
                      <mat-option [value]="'company'">
                        {{"app.company" | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="supplierForm.get('type')?.hasError('required')">
                      type is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">  
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-5">
                  <app-file-upload formControlName="photo">
                  </app-file-upload>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.phone" | translate }}</mat-label>
                    <input matInput formControlName="phone" required
                      placeholder="EX: (237) 690 340 540" />
                    <span matSuffix>
                      <mat-icon class="msr-2">phone</mat-icon>
                    </span>
                    <mat-error
                      *ngIf="supplierForm.get('phone')?.hasError('required')">
                      phone is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.phone" | translate }} 2 </mat-label>
                    <input matInput formControlName="phone2" 
                      placeholder="EX: (237) 690 340 540" />
                    <span matSuffix>
                      <mat-icon class="msr-2">phone</mat-icon>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xl-6 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.email" | translate }}</mat-label>
                    <mat-icon matSuffix>email</mat-icon>
                    <input matInput formControlName="email"
                      placeholder="exemple@gmail.com">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.address" | translate }}</mat-label>
                    <input matInput formControlName="address">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.country" | translate }}</mat-label>
                    <input matInput formControlName="country">
                  </mat-form-field>
                </div> 
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.city" | translate }}</mat-label>
                    <input matInput formControlName="city">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.nui" | translate }}</mat-label>
                    <input matInput formControlName="nui">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" color="primary"
                    [disabled]="!supplierForm.valid || loading"
                    [class.auth-spinner]="loading"
                    (click)="addSupplier()" mat-raised-button>
                    {{"app.save" | translate }}
                  </button>
                  <button type="button" mat-raised-button
                    color="warn" (click)="cancel()">
                    {{"app.cancel" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
