.with {
    min-width: 70rem;
}
.card {
    box-shadow: 0 0rem 0rem ;
}

.user-img {
    max-width: 100px;
    margin: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin-bottom: 10px;
    align-content: center;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}