.with {
    min-width: 70rem ;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.heith {
    height: auto;/* 
    overflow-x: hidden;
    overflow-y: hidden; */
}


.custom-scroll-bar {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}