<section class="content">
  <div class="content-block">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="entete">
                  <div class="card date date1">
                    <div class="w100">
                      <form [formGroup]="transForms">
                        <div class="row">
                          <div class="col-xl-3">
                            <mat-form-field appearance="outline"
                              style="margin-bottom: -2rem"
                              class="example-full-width">
                              <mat-label>
                                {{"app.start" | translate}}
                              </mat-label>
                              <input matInput [matDatepicker]="rpicker"
                                formControlName="date_start">
                              <mat-datepicker-toggle matSuffix
                                [for]="rpicker"></mat-datepicker-toggle>
                              <mat-datepicker #rpicker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-3">
                            <mat-form-field appearance="outline"
                              class="example-full-width"
                              style="margin-bottom: -2.25rem">
                              <mat-label>
                                {{"app.end" | translate}}
                              </mat-label>
                              <input matInput [matDatepicker]="rpickers"
                                formControlName="date_end">
                              <mat-datepicker-toggle matSuffix
                                [for]="rpickers"></mat-datepicker-toggle>
                              <mat-datepicker #rpickers></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 mag">
                            <button class="btn-space"
                              [disabled]="!transForms.valid"
                              mat-raised-button (click)="setDate(true)"
                              [class.auth-spinner]="loading" color="primary">
                              {{"app.save" | translate }}
                            </button>
                            <button class="btn-space butun"
                              mat-raised-button (click)="setDate(false)">
                              {{"app.alls" | translate }}
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card date soms">
                    <div class="w100">
                      <div *ngIf="exampleDatabase?.isTblLoading"
                        class="tbl-spinner">
                        <mat-progress-spinner color="primary"
                          [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <div *ngIf="!exampleDatabase?.isTblLoading && !s">
                        {{this.ss()}}
                      </div>
                      <div class="som">
                        <div class="row"
                          *ngIf="!exampleDatabase?.isTblLoading && s">
                          <table>
                            <thead>
                              <tr>
                                <th class="title"> Total </th>
                                <th class="title"> Cash </th>
                                <th class="orang title"> OM </th>
                                <th class="vert title"> {{ 'app.bank' |
                                  translate }} </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td align="center" class="title">
                                  <strong> {{ sommes }}</strong>
                                </td>
                                <td align="center" class="title">
                                  <strong> {{ cash }}</strong>
                                </td>
                                <td align="center" class="orang title">
                                  <strong> {{ xfoms }}</strong>
                                </td>
                                <td align="center" class="title vert">
                                  <strong> {{ bank }}</strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>{{"app.fees" | translate }}</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input">
                            <i class="material-icons search-icon">
                              search
                            </i>
                          </label>
                          <input placeholder="Search" type="text" #filter
                            class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="SEARCH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              #filter (click)="filterButton()">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li class="tbl-header-btn"
                          *ngIf="permissions.indexOf('trs-0') != -1">
                          <div class="m-l-10" matTooltip="ADD">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="addNew()">
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="REFRESH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="refresh()">
                              <mat-icon class="col-white">refresh</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" [hidden]=!selection.hasValue()
                            matTooltip="DELETE">
                            <button mat-mini-fab color="warn"
                              (click)="AboutAll()">
                              <mat-icon class="col-white">printer
                              </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div *ngIf="loading"
                            class="tbl-spinner">
                            <mat-progress-spinner color="primary"
                              [diameter]="20"
                              mode="indeterminate">
                            </mat-progress-spinner>
                          </div>
                          <div class="export-button m-l-10" matTooltip="PDF"
                            *ngIf="!loading">
                            <img src="assets/images/icons/pdfs.png" alt
                              class="imgs"
                              (click)="exportPDFBackend()" />
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png"
                              alt (click)="exportExcel()" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table mat-table #table [dataSource]="dataSource" matSort
                        class="mat-cell">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox
                              (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="student.name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"app.student" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.student" | translate }}:
                            </span>
                            <span *ngIf="row.student!=null">
                              {{row.student.name}}
                            </span>
                            <span *ngIf="row.student===null">
                              {{row.student.name}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="advancePayment">
                          <mat-header-cell *matHeaderCellDef
                            class="tails">
                            <span class="amount">
                              {{"app.amount" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="tails"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.amount" | translate }}:
                            </span>
                            <span class="amount">
                              {{row.advancePayment | number}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="balancePayment">
                          <mat-header-cell *matHeaderCellDef class="tails">
                            <span class="amount">
                              {{"app.rest" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="tails"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.rest" | translate }}:
                            </span>
                            <span class="amount">
                              {{row.balancePayment | number}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fee">
                          <mat-header-cell *matHeaderCellDef class="taill">
                            {{"app.fee" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            (contextmenu)="onContextMenu($event, row)"
                            class="taill">
                            <span class="mobile-label">
                              {{"app.fee" | translate }}:
                            </span>
                            <span *ngIf="row.fee!=null">
                              {{row.fee.name}}
                            </span>
                            <span *ngIf="row.fee===null">
                              {{row.fee}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="payment_mode">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            <span class="amounts">
                              {{"app.mode" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="taille"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.mode" | translate }}:
                            </span>
                            <span *ngIf="row.payment_mode === 'Orange Money'"
                              class="orang amounts">
                              {{row.payment_mode}}
                            </span>
                            <span *ngIf="row.payment_mode != 'Orange Money'"
                              class="amounts">
                              {{row.payment_mode}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="student">
                          <mat-header-cell *matHeaderCellDef class="tails">
                            {{"app.classroom" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            (contextmenu)="onContextMenu($event, row)"
                            class="tails">
                            <span class="mobile-label">
                              {{"app.classroom" | translate }}:
                            </span>
                            <span *ngIf="row.student!=null">
                              <span *ngIf="row.student.classe!=null">
                                {{row.student.classe.name}}
                              </span>
                            </span>
                            <span *ngIf="row.student===null">
                              {{row.student}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                          <mat-header-cell *matHeaderCellDef class="tails">
                            <span class="amounts">
                              {{"app.date" | translate }}
                            </span>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="tails"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.date" | translate }}:
                            </span>
                            <span class="amounts">
                              {{row.created_at | date:'dd/MM/yyyy'}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                          <mat-header-cell [ngClass]="'tbl-col-width-per-6'"
                            *matHeaderCellDef> Actions
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;"
                            [ngClass]="'tbl-col-width-per-6'">
                            <button mat-icon-button
                              *ngIf="permissions.indexOf('trs-3') != -1 && ecole != 'acf'"
                              (click)="$event.stopPropagation()"
                              (click)="About(row)" class="tbl-action-btn">
                              <app-feather-icons [icon]="'printer'"
                                [class]="'tbl-fav-delete'">
                              </app-feather-icons>
                            </button>
                            <button mat-icon-button
                              *ngIf="permissions.indexOf('trs-4') != -1"
                              (click)="$event.stopPropagation()"
                              (click)="deleteItem(row)" class="tbl-action-btn">
                              <app-feather-icons [icon]="'trash-2'"
                                [class]="'tbl-fav-delete'">
                              </app-feather-icons>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row
                          *matRowDef="let row; columns: displayedColumns;"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                      <!-- Loading spinner -->
                      <div *ngIf="exampleDatabase?.isTblLoading"
                        class="tbl-spinner">
                        <mat-progress-spinner color="primary"
                          [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <!-- context menu start -->
                      <div style="visibility: hidden; position: fixed"
                        [style.left]="contextMenuPosition.x"
                        [style.top]="contextMenuPosition.y">
                      </div>
                      <!-- context menu end -->
                      <div *ngIf="!exampleDatabase?.isTblLoading"
                        class="no-results"
                        [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                        No results
                      </div>
                      <mat-paginator #paginator
                        (page)="dataSource.connect(valueFilter)"
                        [length]="dataSource.meta"
                        [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100, 200]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
