.with{
    min-width: 70rem !important;
}
.custom-scroll-bar {
    max-height: 22vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bordure {
    margin-top: -40px;
    margin-left: 13px;
    margin-right: 13px;
}
.margi {
    max-height: 50px !important;
    max-width: 60px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}