.with {
    width: 60rem;
}

.card {
    box-shadow: 0 0rem 0rem ;
}

.class7 {
    width: 100%;
}

.bord{
    border: 1px  solid #028b5b;/* 
    border-right: 1px  solid #028b5b; */
  }

  .rig {
    padding-right: 10px;
  }

  .lef {
    padding-left: 10px;
  }

  .tile{
    font-weight: bold;
  }

  .text-color{
    color: black !important;
  }

  .class7 {
    width: 100%;
  }

  .marg{
    margin-top: 10px;
  }

  th{
    height: 2rem;
    border-bottom: 1px solid #028b5b;
  }

  td{
    height: 2rem;
    border-bottom: 1px solid #028b5b;
  }

img {
    margin: 0px 10px 0px 10px;
    height: 50px !important;
    width: 50px !important;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2) !important;
}

.class80{
    width: 80%;
}

.class20{
    width: 20%;
}

.class1{
    display: flex;  
    width: 100%; 
    font-family: arial; 
    text-align: right;
    margin-top: 1rem;
}

.test {
    padding: 0px 14px 10px 14px !important;
}