.with {
    max-width: 53rem;
    height: max-content;
}
.card {
    box-shadow: 0 0rem 0rem ;
    margin-top: 5px !important;
}

.class1{
    display: flex;  
    width: 100%; 
    font-size: 8px;  
    font-family: arial; 
    text-align: right;
    margin-top: 2px;
    color: black;
}

.class80{
    width: 80%;
    color: black; 
}

.class20{
    width: 20%;
    color: black;
}

.class3{
    display: flex; 
    background-color:#028b5b ;  
    margin-top: 5px; 
    margin-bottom: 5px; 
    width: 100%; 
    color: white;
}


.class3-acf{
    display: flex; 
    background-color:#028b5b ;  
    margin-top: 5px; 
    margin-bottom: 5px; 
    width: 100%; 
    color: white;
}

.entet {
    width: 450px; 
    padding-left: 20px; 
    padding-right: 20px; 
    margin-top: 1rem;
}

.imgs {
    max-height: 65px; 
    max-width: 120px; 
    border-radius: 1px; 
    margin-right: 0px;
}

.imgs-acf {
    max-height: 50px; 
    max-width: 120px; 
    border-radius: 1px; 
    margin-right: 0px;
}



.class4{
    width: 80%; 
    font-size: 14px; 
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding-left: 5px; 
    text-align: left; 
    font-family: arial;
}

.class41{
    width: 80%; 
    font-size: 11px; 
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding-left: 5px; 
    text-align: left; 
    font-family: arial;
}

.class5{
    width: 20%; 
    font-size: 14px; 
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding-right: 5px; 
    text-align: right; 
    font-family: arial;
}

.class6{
    width: 80%; 
    font-size: 8px; /* 
    padding-left: 5px;  */
    margin-top: 5px;
    text-align: left; 
    font-family: arial;
    color: black;
}

.class66666{
    width: 60%; 
    font-size: 8px; /* 
    padding-left: 5px;  */
    margin-top: 5px;
    text-align: left; 
    font-family: arial;
    color: black;
}


.class7{
    font-family: arial; 
    width: 100%; 
    margin-bottom: 10px;
    margin-top: 7px;
    color: black;
}

.text {
    font-size: 8px;
    font-family: arial;
}

.tiret{
    width: 100%;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.tiret-acf{
    width: 100%;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.titl {
    font-size: 20px;
}

.text-red{
    color: red;
}

.class11{
    display: flex;  
    width: 100%; 
    font-size: 12px;  
    font-family: arial; 
    text-align: right;
    margin-top: 2px;
    color: black;
}

.class880{
    width: 80%;
    color: black; 
}

.class220{
    width: 20%;
    color: black;
}

.class33{
    display: flex; 
    background-color:#028b5b ;  
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: 100%; 
    color: white;
}

.class44{
    width: 80%; 
    font-size: 16px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding-left: 5px; 
    text-align: left; 
    font-family: arial;
}

.class55{
    width: 20%; 
    font-size: 16px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding-right: 5px; 
    text-align: right; 
    font-family: arial;
}

.bordeT {
    border-top: 1px solid black;
}

.pad-t  {
  padding-top: 1px;
}

.class66{
    width: 80%; 
    font-size: 12px; /* 
    padding-left: 5px;  */
    margin-top: 5px;
    text-align: left; 
    font-family: arial;
    color: black;
}
canvas{
    height: 10px !important;
}

.class666{
    width: 50%; 
    font-size: 12px; /* 
    padding-left: 5px;  */
    margin-top: 5px;
    text-align: left; 
    font-family: arial;
    color: black;
}
.class333{
    width: 30%; 
    font-size: 12px; /* 
    padding-left: 5px;  */
    margin-top: 5px;
    text-align: left; 
    font-family: arial;
    color: black;
}

.class77{
    font-family: arial; 
    width: 100%; 
    margin-bottom: 10px;
    margin-top: 7px;
    color: black;
}

.tirets{
    width: 100%;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: black;
}

.titls {
    font-size: 40px;
}

.text-red{
    color: red;
}
.text1 {
    font-size: 12px;
    font-family: arial;
}

.pad-l {
    padding-left: 5px; 
}

.pad-r {
    padding-right: 5px; 
}

.butun {
    margin-left: 1rem;
    background-color: #028b5b;
    border-radius: 3px;
    color: white;
    min-height: 2rem;
    min-width: 8rem ;
}

.mag-t {
    margin-top: 4rem;
}