<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_role" | translate }}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3"
                    appearance="outline">
                    <mat-label>{{"app.name" | translate }} </mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error
                      *ngIf="roleForm.get('name')?.hasError('required')">
                      Name of role is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3"
                    appearance="outline">
                    <mat-label>{{"app.type" | translate }}</mat-label>
                    <mat-select formControlName="type">
                      <mat-option
                        *ngFor="let type of types"
                        [value]="type">
                        {{ type }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3"
                    appearance="outline">
                    <mat-label>{{"app.description" | translate }}</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline">
                    <mat-label>{{"app.privileges" | translate }}</mat-label>
                    <input #multiUserSearch
                      type="text" matInput
                      placeholder="Recherche permissions"
                      (input)="onInputChange($event)" />
                    <mat-selection-list
                      formControlName="permissions"
                      (selectionChange)="
                        selectionChangePermissions($event.options)"
                      class="custom-scroll-bar">
                      <ng-container *ngFor="let p of filteredPermissions">
                        <mat-list-option
                          [value]="p.id"
                          [selected]="
                            permissionsControl.value &&
                            permissionsControl.value?.indexOf(p.id) >= 0
                          ">
                          {{ p.name }} : {{ p.description }}
                        </mat-list-option>
                      </ng-container>
                    </mat-selection-list>
                    <br />
                    <p>
                      {{ permissionsControl.value?.length }}
                    </p>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space"
                    [disabled]="!roleForm.valid || loading"
                    [class.auth-spinner]="loading"
                    (click)="addRole()" mat-raised-button
                    color="primary">{{"app.save" | translate }}</button>
                  <button type="button" mat-raised-button color="warn"
                    (click)="cancel()">{{"app.cancel" | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
