<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.modi" | translate}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()"
      class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="articleForm">
      <div class="row">
        <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>{{"app.name" | translate }} </mat-label>
            <input matInput formControlName="name" required>
            <mat-error
              *ngIf="articleForm.get('name')?.hasError('required')">
              name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>{{"app.type" | translate }}</mat-label>
            <mat-select formControlName="type" required>
              <mat-option [value]="'consumable'">
                {{"app.consumable" | translate }}
              </mat-option>
              <mat-option [value]="'storable'">
                {{"app.storable" | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.price" | translate }}</mat-label>
            <input matInput formControlName="price" type="number">
          </mat-form-field>
        </div>
      </div> 
      <div class="row"> 
        <div *ngIf="articles.image != '' && articles.image != null"
          class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-5">
          <img [src]="image+articles.image" class="user-img margi" alt>
        </div>
        <div *ngIf="articles.image === '' || articles.image === null"
          class="col-xl-1 col-lg-1 col-md-12 col-sm-12 mb-5">
          <img src="../assets/images/user/admin.jpg" class="user-img margi" alt>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-5">
          <app-file-upload formControlName="image" >
            </app-file-upload> 
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.supplier" | translate }}</mat-label>
            <mat-select formControlName="suppliers">
              <mat-option [value]="supplier.id"
                *ngFor="let supplier of suppliers">
                {{ supplier.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.service" | translate }}</mat-label>
            <mat-select formControlName="service">
              <mat-option [value]="service.id"
                *ngFor="let service of services">
                {{ service.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row"> 
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.unit_of_measurement" | translate }}</mat-label>
            <input matInput formControlName="unit_of_measurement" >
          </mat-form-field>
        </div>  
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.alert_quantity" | translate }}</mat-label>
            <input matInput formControlName="alert_quantity" type="number">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.container_unit" | translate }}</mat-label>
            <input matInput formControlName="container_unit">
          </mat-form-field>
        </div> 
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.container_quantity" | translate }}</mat-label>
            <input matInput formControlName="container_quantity" type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label>{{"app.description" | translate }}</mat-label>
            <textarea matInput formControlName="description">
            </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space"
              [disabled]="!articleForm.valid || loading"
              [class.auth-spinner]="loading"
              [disabled]="loading" color="primary"
              (click)="updateArticles()" mat-raised-button>
              {{"app.save" | translate }}
            </button>
            <button mat-raised-button color="warn"
              (click)="onNoClick()" tabindex="-1">
              {{"app.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
