.with{
    width: 70rem;
}

.custom-scroll-bar {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

.margi {
    max-height: 50px !important;
    max-width: 60px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}