<section class="content">
  <div class="content-block">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>{{"app.task" | translate }}</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input">
                            <i class="material-icons search-icon">search</i>
                          </label>
                          <input placeholder="Search" type="text" #filter
                            class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="SEARCH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              #filter (click)="filterButton()">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="body">
                            <form [formGroup]="tasksForms">
                              <div class="row">
                                <!-- <div
                                  class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <mat-form-field appearance="outline"
                                    style="margin-bottom: -2rem"
                                    class="example-full-width">
                                    <mat-label>
                                      {{"app.time_limit" | translate }}
                                    </mat-label>
                                    <input matInput [matDatepicker]="rpicker"
                                      formControlName="due_date"
                                      (selectionChange)="[setDate()]">
                                    <mat-datepicker-toggle matSuffix
                                      [for]="rpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #rpicker>
                                    </mat-datepicker>
                                  </mat-form-field>
                                </div> -->
                                <div
                                  class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <mat-form-field appearance="outline"
                                    style="margin-bottom: -2rem"
                                    class="example-full-width">
                                    <mat-label>
                                      {{"app.priority" | translate }}
                                    </mat-label>
                                    <mat-select formControlName="priority"
                                      (selectionChange)="[setPriority()]">
                                      <mat-option [value]="''">
                                        {{"app.all" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'low'">
                                        {{"app.small" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'medium'">
                                        {{"app.medium" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'high'">
                                        {{"app.high" | translate }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div
                                  class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                                  <mat-form-field appearance="outline"
                                    style="margin-bottom: -2rem"
                                    class="example-full-width">
                                    <mat-label>
                                      {{"app.status" | translate }}
                                    </mat-label>
                                    <mat-select formControlName="status"
                                      (selectionChange)="[setStatus()]">
                                      <mat-option [value]="''">
                                        {{"app.all" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'created'">
                                        {{"app.on_hold" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'started'">
                                        {{"app.in_progress" | translate }}
                                      </mat-option>
                                      <mat-option [value]="'finished'">
                                        {{"app.finish" | translate }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="ADD">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="addNew()">
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="REFRESH">
                            <button mat-mini-fab
                              style="background-color: #028b5b;"
                              (click)="refresh()">
                              <mat-icon class="col-white">refresh</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" [hidden]=!selection.hasValue()
                            matTooltip="DELETE">
                            <button mat-mini-fab color="warn"
                              (click)="removeSelectedRows()">
                              <mat-icon class="col-white">delete
                              </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt
                              (click)="exportExcel()" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table mat-table #table [dataSource]="dataSource" matSort
                        class="mat-cell">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox
                              (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"app.name" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.name" | translate }}:
                            </span> {{row.name}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="responsible">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"app.responsable" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.for" | translate }}:
                            </span>
                            <span *ngIf="row.responsible != null">
                              {{row.responsible.name}}
                            </span>
                            <span *ngIf="row.responsible === null">
                              {{row.responsible}}
                            </span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="due_date">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            {{"app.time_limit" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="taille"
                            (contextmenu)="onContextMenu($event, row)">
                            <span class="mobile-label">
                              {{"app.time_limit" | translate }}:
                            </span>{{row.due_date | date:'dd/MM/yyyy'}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="priority">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            {{"app.priority" | translate }}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            class="taille">
                            <span class="mobile-label">
                              {{"app.priority" | translate }}:
                            </span>
                            <div *ngIf="row.priority==='small'">
                              <span class="badge badge-solid-green">
                                {{"app.small" | translate }}</span>
                            </div>
                            <div *ngIf="row.priority==='high'">
                              <span class="badge badge-solid-red">
                                {{"app.high" | translate }}</span>
                            </div>
                            <div *ngIf="row.priority==='medium'">
                              <span class="badge badge-solid-orange">
                                {{"app.medium" | translate }}</span>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <mat-header-cell *matHeaderCellDef class="taille">
                            {{"app.status" | translate }}
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row"
                            class="taille">
                            <span class="mobile-label">
                              {{"app.status" | translate }}:
                            </span>
                            <div *ngIf="row.status==='finished'">
                              <span class="badge badge-solid-green">
                                {{"app.finish" | translate }}
                              </span>
                            </div>
                            <div *ngIf="row.status==='created'">
                              <span class="badge badge-solid-purple">
                                {{"app.on_hold" | translate }}
                              </span>
                            </div>
                            <div *ngIf="row.status==='started'">
                              <span class="badge badge-solid-orange">
                                {{"app.in_progress" | translate }}
                              </span>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0 taille"
                            *matHeaderCellDef>Actions
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;"
                            class="pr-0 taille">
                            <button mat-icon-button
                              (click)="$event.stopPropagation()"
                              (click)="editCall(row)"
                              class="tbl-action-btn">
                              <app-feather-icons [icon]="'edit'"
                                [class]="'tbl-fav-edit'">
                              </app-feather-icons>
                            </button>
                            <button mat-icon-button
                              (click)="$event.stopPropagation()"
                              (click)="About(row)"
                              class="tbl-action-btn">
                              <app-feather-icons [icon]="'eye'"
                                [class]="'tbl-fav-edit'">
                              </app-feather-icons>
                            </button>
                            <button mat-icon-button
                              (click)="$event.stopPropagation()"
                              (click)="deleteItem(row)"
                              class="tbl-action-btn">
                              <app-feather-icons [icon]="'trash-2'"
                                [class]="'tbl-fav-delete'">
                              </app-feather-icons>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row
                          *matRowDef="let row; columns: displayedColumns;"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                      <!-- Loading spinner -->
                      <div *ngIf="exampleDatabase?.isTblLoading"
                        class="tbl-spinner">
                        <mat-progress-spinner color="primary"
                          [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <!-- context menu start -->
                      <div style="visibility: hidden; position: fixed"
                        [style.left]="contextMenuPosition.x"
                        [style.top]="contextMenuPosition.y">
                      </div>
                      <!-- context menu end -->
                      <div *ngIf="!exampleDatabase?.isTblLoading"
                        class="no-results"
                        [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                        No results
                      </div>
                      <mat-paginator #paginator
                        (page)="dataSource.connect(valueFilter)"
                        [length]="dataSource.meta"
                        [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100, 200]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
