<section class="content">
  <div class="content-block">

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_event" | translate }}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="eventForm">
              <div class="row">
                <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.name" | translate }} </mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error
                      *ngIf="eventForm.get('name')?.hasError('required')">
                      name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.type" | translate }}</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'internal'">
                        {{"app.interne" | translate }}
                      </mat-option>
                      <mat-option [value]="'external'">
                        {{"app.externe" | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.start_date" | translate }}</mat-label>
                    <input matInput [matDatepicker]="rpicker"
                      formControlName="start_date" required>
                    <mat-datepicker-toggle matSuffix
                      [for]="rpicker"></mat-datepicker-toggle>
                    <mat-datepicker #rpicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.end_date" | translate }}</mat-label>
                    <input matInput [matDatepicker]="rpickers"
                      formControlName="end_date" required>
                    <mat-datepicker-toggle matSuffix
                      [for]="rpickers"></mat-datepicker-toggle>
                    <mat-datepicker #rpickers></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.budget" | translate }}</mat-label>
                    <input matInput formControlName="budget" type="number">
                  </mat-form-field>
                </div> 
              </div> 
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.description" | translate }}</mat-label>
                    <textarea matInput formControlName="description" rows="10">
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" color="primary"
                    [disabled]="!eventForm.valid || loading"
                    [class.auth-spinner]="loading"
                    (click)="addEvent()" mat-raised-button>
                    {{"app.save" | translate }}
                  </button>
                  <button type="button" color="warn"
                    mat-raised-button (click)="cancel()">
                    {{"app.cancel" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
