<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.more_informations" | translate }}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()"
      class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="card pad">
    <div class="row clearfix mag-5">
      <mat-tab-group>
        <mat-tab>
          <div class="col-lg-12 col-md-12 col-sm-12 mag2">
            <div class="project_widget mag2">
              <div class="body">
                <div class="row">
                  <div class="col-md-8 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.name" | translate }}
                    </strong>
                    <br />
                    <p>{{ permissions.name }}</p>
                  </div>
                  <div class="col-md-4 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.for" | translate }}
                    </strong>
                    <br />
                    <p *ngIf="permissions.user != null">
                      {{ permissions.user.name }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-6 b-r">
                    <strong class="text-muted">
                      {{"app.description" | translate }}
                    </strong>
                    <br />
                    <div *ngIf="permissions.raison != null">
                      <p *ngFor="let item of permissions.raison.split('\n')">
                        {{ item }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
