<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p>
          <span class="font-weight-bold">
            id: </span>{{data.id}}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">
            {{"app.student" | translate }}:
          </span>{{ data.student.name }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">
            {{"app.amount" | translate }}:
          </span>{{ data.advancePayment }}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn"
      [mat-dialog-close]="1"
      (click)="confirmDelete()">
      {{"app.delete" | translate }}
    </button>
    <button mat-flat-button
      (click)="onNoClick()" tabindex="-1">
      {{"app.cancel" | translate }}
    </button>
  </div>
</div>
