.ligne {
  margin-top: 120px;
  padding-top: 120px;
}

/* tr:hover{
    background: #028b5b;
    color: white;
} */

.mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0px !important;
}

.mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0px !important;
}
