<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_voucher" | translate }}</h2>
          </div>
          <div class="body">
            <form [formGroup]="voucherForm">
              <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div *ngIf="user" class="tbl-spinner">
                    <mat-progress-spinner style="color: #028b5b;"
                      [diameter]="20"
                      mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                   <mat-form-field appearance="outline" *ngIf="!user"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.responsable" | translate }}</mat-label>
                    <mat-select formControlName="responsible_id" required>
                      <mat-option [value]="user.id"
                        *ngFor="let user of users">
                        {{ user.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="voucherForm.get('responsable')?.hasError('required')">
                      role is required
                    </mat-error>
                  </mat-form-field> 
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div *ngIf="user" class="tbl-spinner">
                    <mat-progress-spinner style="color: #028b5b;"
                      [diameter]="20"
                      mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                   <mat-form-field appearance="outline" *ngIf="!user"
                    class="example-full-width mb-3">
                    <mat-label> {{"app.supplier" | translate }}</mat-label>
                    <mat-select formControlName="supplier_id" required>
                      <mat-option [value]="user.id"
                        *ngFor="let user of suppliers">
                        {{ user.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="voucherForm.get('responsable')?.hasError('required')">
                      role is required
                    </mat-error>
                  </mat-form-field> 
                </div>
                <div
                  class="col-xl-2 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    style="margin-bottom: -2rem"
                    class="example-full-width">
                    <mat-label>
                      {{"app.priority" | translate }}
                    </mat-label>
                    <mat-select formControlName="priority" required>
                      <mat-option [value]="'low'">
                        {{"app.small" | translate }}
                      </mat-option>
                      <mat-option [value]="'medium'">
                        {{"app.medium" | translate }}
                      </mat-option>
                      <mat-option [value]="'high'">
                        {{"app.high" | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.number" | translate }}</mat-label>
                    <mat-select formControlName="nbrVoucher"
                      required (selectionChange)="getVouchers()">
                      <mat-option [value]="nbr"
                        *ngFor="let nbr of numbersVouchers">
                        {{ nbr }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.description" | translate }}</mat-label>
                    <textarea matInput formControlName="description" >
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row">
              <p-table [value]="voucherArrys"
                (onEditInit)="onEditInit($event)"
                (onEditCancel)="onEditCancel($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 50%; font-size: 18px;">
                      {{"app.article" | translate }}
                    </th>
                    <th style="width: 35%;font-size: 18px;">
                      {{"app.unit_price" | translate }}
                    </th>
                    <th style="width: 15%;font-size: 18px;">
                      {{"app.quantity" | translate }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                  <tr>
                    <td pEditableColumn style="width: 50%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <mat-select [(ngModel)]="book.id">
                              <mat-option [value]="article.id"
                                *ngFor="let article of articles">
                                {{ article.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                    <td pEditableColumn style="width: 35%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <input matInput type="number"
                              [(ngModel)]="book.unit_price">
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                    <td pEditableColumn style="width: 15%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <input matInput type="number"
                              [(ngModel)]="book.quantity">
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <form [formGroup]="voucherForm">
              <br />
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button [class.auth-spinner]="loading"
                    [disabled]="!voucherForm.valid || loading"
                    class="btn-space" (click)="addVouchers()"
                    mat-raised-button color="primary">
                    {{ "app.save" | translate }}
                  </button>
                  <button type="button" color="warn"
                    mat-raised-button (click)="cancel()">
                    {{ "app.cancel" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
