<section class="content">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{"app.add_articleMovement" | translate }}</h2>
          </div>
          <div class="body">
            <form [formGroup]="articleMovementForm">
              <div class="row">
                <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.customer" | translate }}</mat-label>
                    <mat-select formControlName="customer_id">
                      <mat-option [value]="customer.id"
                        *ngFor="let customer of customers">
                        {{ customer.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-9 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.room" | translate }}</mat-label>
                    <mat-select formControlName="room_id">
                      <mat-option [value]="room.id"
                        *ngFor="let room of rooms">
                        {{ room.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.number" | translate }}</mat-label>
                    <mat-select formControlName="nbrArticleMovement"
                      required (selectionChange)="getArticleMovements()">
                      <mat-option [value]="nbr"
                        *ngFor="let nbr of numbersArticleMovements">
                        {{ nbr }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline"
                    class="example-full-width mb-3">
                    <mat-label>{{"app.description" | translate }}</mat-label>
                    <textarea matInput formControlName="payment_mode">
                    </textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row">
              <p-table [value]="articleMovementArrys"
                (onEditInit)="onEditInit($event)"
                (onEditCancel)="onEditCancel($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 60%; font-size: 18px;">
                      {{"app.product" | translate }}
                    </th>
                    <th style="width: 40%;font-size: 18px;">
                      {{"app.quantity" | translate }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                  <tr>
                    <td pEditableColumn style="width: 35%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <mat-select [(ngModel)]="book.id">
                              <mat-option [value]="product.id"
                                *ngFor="let product of products">
                                {{ product.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                    <td pEditableColumn style="width: 15%; font-size: 18px;">
                      <p-celleditor>
                        <div
                          class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <mat-form-field appearance="outline"
                            class="example-full-width mb-3">
                            <mat-label></mat-label>
                            <input matInput type="number"
                              [(ngModel)]="book.quantity">
                          </mat-form-field>
                        </div>
                      </p-celleditor>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <form [formGroup]="articleMovementForm">
              <br />
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button [class.auth-spinner]="loading"
                    [disabled]="!articleMovementForm.valid || loading"
                    class="btn-space" (click)="addArticleMovements()"
                    mat-raised-button color="primary">
                    {{ "app.save" | translate }}
                  </button>
                  <button type="button" color="warn"
                    mat-raised-button (click)="cancel()">
                    {{ "app.cancel" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
