<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{"app.more_informations" | translate }}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()"
      class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="card">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label class="mag3">
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Informations suplémentaires
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12 mag2">
                <div class="project_widget mag2">
                  <div class="body"> 
                    <div class="row"> 
                      <div class="col-md-6 col-4 b-r">
                        <strong class="text-muted">
                          {{"app.by" | translate }}
                        </strong><br>
                        <p *ngIf="feedbacks.author != null">
                          {{ feedbacks.author.name }}</p>
                      </div> 
                      <div class="col-md-4 col-4 b-r">
                        <strong class="text-muted">
                          {{"app.service" | translate }}
                        </strong><br>
                        <p>{{ feedbacks.service.name }}</p>
                      </div>
                      <div class="col-md-2 col-4 b-r">
                        <strong class="text-muted">
                          {{"app.created_at" | translate }}
                        </strong><br>
                        <p>{{ feedbacks.created_at | date:'dd/MM/yyyy'}}</p>
                      </div> 
                    </div> 
                    <div class="row">
                      <div class="col-md-12 col-6 b-r">
                        <strong class="text-muted">
                          {{"app.description" | translate }}
                        </strong> <br>
                        <div *ngIf="feedbacks.message != null">
                          <p *ngFor="let item of feedbacks.message.split('\n')">
                            {{ item }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
