.centeredBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
}


.signin {
    background: white;
    width: 85%;
    min-height: 70%;
    height: max-content;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 30px 40px 60px 20px rgba(14, 13, 13, 0.14);
}
.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxrigth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgss {
    width: 200px !important;
    height: 200px !important;
}

.txt {
    font-size: 15px;
}

.form-signin{
    width: 50%;
}
.login-title{
    color: #028b5b;
}

.spacer {
    height: 2rem;
}

.border-apply {
    box-shadow: 10px 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2) !important;
}

.changeColor {
    background-color: #028b5b !important;
    color: white;
    height: 2.5rem;
    border-radius: 10;
    width: 12rem;
}

button:hover{
    box-shadow: 10px 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2) !important;
}

.forget {
    font-size: 12px;
    color: #028b5b;
}

.mt-5 {
    width: 80%;
    align-items: center;
}

.mt-6 {
    width: 95%;
    align-items: center;
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 100%; 
}

.card {
    box-shadow: 0 0rem 0rem ;
}


.suite{
    border: none;
    width: 55%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 2px 20px rgba(93, 90, 90, 0.37);
    overflow: hidden;
 }

 .suite .slider{
    display: flex;
    animation: annivs 12s infinite ease-in-out;
 }


.img{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
 }

@media screen and  (max-width: 1440px){
    .form-signin{
        width: 60%;
    }
    .suite{
        width: 60%;
        height: 80%;
    }
    .img img{
        width: 130px;
        height: 130px;
    }
 }
 @media screen and  (max-width: 1358px){
    .signin {
        width: 80%;
        height: 80%;
        padding: 1rem;
    }
    .boxrigth {
        width: 100%;
        padding: 0px !important;
        margin: 0px !important;
    }
    .mt-5 {
        width: 90% !important;
    }
 }

 @media screen and  (max-width: 1200px){
    .form-signin{
        width: 60%;
    }
    .suite{
        width: 70%;
        height: 70%;
        padding: 2rem;
    }
    .img img{
        width: 130px;
        height: 130px;
    }
 }

 @media screen and  (max-width: 1060px){
    .form-signin{
        width: 70%;
    }
    .suite{
        width: 70%;
        height: 70%;
        padding: 2rem;
    }
    .img img{
        width: 120px;
        height: 120px;
    }
    .signin {
        width: 90%;
    }
    .mt-5 {
        width: 95% !important;
    }
 }

 @media screen and  (max-width: 970px){
    .signin {
        width: 90%;
    }
    .form-signin{
        width: 70%;
    }
    .suite{
        width: 80%;
    }
    .img img{
        width: 100px;
        height: 100px;
    }
    .mt-5 {
        width: 98% !important;
    }
 }

 @media screen and  (max-width: 830px){
    .signin {
        flex-direction: column;
        overflow-y: hidden;
    }
    .form-signin{
        width: 100%;
        /* margin-bottom: 25rem; */
    }
    .suite{
        width: 0px;
        height: 0px;
        box-shadow: 0px 0px 0px rgba(93, 90, 90, 0.37);
    }
 }

 @media screen and  (max-width: 830px){
    .signin {
        flex-direction: column;
        height: max-content;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 80%;
    }
    .connexion {
        width:80%;
    }
    .form-signin{
        width: 100%;
    }
    .suite{
        flex-direction: column;
        height: max-content;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 80%;
    }
    .boxrigth {
        margin-top: 5rem;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 80%;
    }
 }