.btns {
    font-size: 14px !important;
    font-family: inherit;
    color: white;
}


.taille {
    max-width: 12%;
}


.s-invoice {
    max-width: 10%;
}

.amount{
    text-align: right !important;
    width: 100%;
}
.amounts{
    text-align: center !important;
    width: 100%;
}