
.card {
    margin-top: 10px;
}

.mil {
    vertical-align: middle !important;
}

.blues{
    color: #0a92d6;
}

.user-img {
    max-width: 60px;
    margin: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin-bottom: 20px;
}

.float-end {
    text-align: right;
}

.card-right {
    max-width: 66%;
}

.card-statistic-2 .card-icon-only {
    font-size: 30px;
    //margin: 20px 10px 20px 10px !important;
}

.float-end {
    max-width: 100% !important;
}
.float-start {
    max-width: 40% !important;
}

.course-card-image{
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0px;
}

.prin-img { 
    height: 100px !important;
    width: 100% !important;
}

