
.card {
    margin-top: 10px;
}

.mil {
    vertical-align: middle !important;
}

.blues{
    color: #028b5b;
}

.user-img {
    max-width: 70px;
    margin: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin-bottom: 20px;
}

.float-end {
    text-align: right;
}

.card-right {
    max-width: 66%;
}

.card-statistic-2 .card-icon-only {
    font-size: 35px;
    //margin: 20px 10px 20px 10px !important;
}

.float-end {
    max-width: 100% !important;
}