<section class="content">
  <div class="content-block">

    <!-- Widgets -->
    <div class="row"> 
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img class="prin-img" src="assets/images/banner/om-momo.jpg" alt>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">
                  {{ "app.all_en_caisse" | translate }}
                </h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">
                  {{ sommeOM?.sommeTotaleEnCaisse+statisMomo?.sommeTotaleEnCaisse | number }} Fcfa
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img class="prin-img" src="assets/images/banner/om.png" alt>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">
                  {{ "app.all_en_caisse" | translate }}
                </h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">
                  {{ sommeOM?.sommeTotaleEnCaisse | number }} Fcfa
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img class="prin-img" src="assets/images/banner/momo.jpg" alt>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">
                  {{ "app.all_en_caisse" | translate }}
                </h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">
                  {{ statisMomo?.sommeTotaleEnCaisse | number }} Fcfa
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div *ngIf="!fin || !momo" class="tbl-spinner">
      <mat-progress-spinner color="primary"
        [diameter]="40" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div *ngIf="fin && momo">
      <div class="row" *ngFor="let item of sommeOM.hotels; let index = index">
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/banner/img4.png" alt>
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end">
                    {{ item.hotelName }} - {{ item.address }} 
                  </h5>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">
                    {{ statisMomo.hotels[index].sommeEnCaisse + item.sommeEnCaisse | number }} Fcfa
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/banner/img4.png" alt>
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end">
                    {{"app.all_en_caisse" | translate }}
                  </h5>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">
                    {{ item.sommeEnCaisse | number }} Fcfa
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/banner/img4.png" alt>
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end">
                    {{"app.all_en_caisse" | translate }}
                  </h5>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">
                    {{ statisMomo.hotels[index].sommeEnCaisse | number }} Fcfa
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>
