<div class="addContainer with">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='ratings.photo' alt="avatar"> -->
        <div class="modal-about">
          {{"app.modi" | translate}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()"
      class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="ratingForm">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>{{"app.student" | translate }} </mat-label>
            <input matInput formControlName="student" readonly>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>{{"app.payment_mode" | translate }} </mat-label>
            <input matInput formControlName="payment_mode" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>{{"app.classroom" | translate }} </mat-label>
            <input matInput formControlName="classe" readonly>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>{{"app.amount" | translate }} </mat-label>
            <input matInput formControlName="amount" readonly>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>{{"app.date" | translate }} </mat-label>
            <input matInput formControlName="date" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field appearance="outline"
            class="example-full-width mb-3">
            <mat-label> {{"app.reason" | translate }}</mat-label>
            <textarea matInput formControlName="reason" required rows="6">
            </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space"
              [disabled]="!ratingForm.valid || loading"
              [class.auth-spinner]="loading"
              [disabled]="loading" color="primary"
              (click)="updateRatings()" mat-raised-button>
              {{"app.save" | translate }}
            </button>
            <button mat-raised-button color="warn"
              (click)="onNoClick()" tabindex="-1">
              {{"app.cancel" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
